<section id="portfolio" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading editable">Portfolio</h2>
				<h3 class="section-subheading text-muted editable">Voorbeelden van reeds gerealiseerde projecten</h3>
			</div>
		</div>
        <div class="row">
				{% for categorie in site.data.portfolio.portfolios %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioDetails{{ forloop.index }}" class="portfolio-link" data-toggle="modal" data-portfoliotitle="{{categorie.Title}}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="//images.weserv.nl/?url={{site.url}}{{categorie.Category_Image}}&w=400&h=300&t=square&a=entropy" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{categorie.Title}}</h4>
                        <p class="text-muted">{{categorie.Subtitle}}&nbsp;</p>
                    </div>
                </div>
				{% endfor %}
		</div>
	</div>
</section>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->


{% for categorie in site.data.portfolio.portfolios %}
    <!-- Portfolio Modal {{ forloop.index }} -->

    <div class="portfolio-modal modal fade" id="portfolioDetails{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{categorie.Title}}</h2>
                            <p class="item-intro text-muted">{{categorie.Subtitle}}</p>
							{% for item in categorie.Items %}
                            <img class="img-responsive img-centered lazy" src="uploads/www.loungopmaat.com-dummy.jpeg" data-src="//images.weserv.nl/?url={{site.url}}{{item.List_Image}}&w=700&t=fitup" alt="">
							<p>{{item.Text}}
							    {% if item.Price And item.Price != "" And item.Price != nil %}
                                    <span class="item-price">{{ item.Price }}</span>
                                {% endif %}
							</p>
							{% endfor %}
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}